<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ title }}</title>
	<!-- Include CSS and Libraries -->
	<script type="text/javascript" src="static/js/jquery-1.11.3.js">
	</script>
	<script type="text/javascript" src="static/js/pixi.js">
	</script>
	<script type="text/javascript" src="static/js/tink.js">
	</script>
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="shortcut icon" href="static/img/shortcut-icon.jpg">
	
</head>
<body>
	


	<script type="text/javascript" src="static/js/main.js">
	</script>

</body>
</html>